.hero {
  .hero--title {
  }
  .hero--title-elm {
    line-height: normal;
    font-weight: 300;
    font-size: rem-calc(40);
    @include breakpoint(medium up) {
      font-size: rem-calc(88);
    }
  }
}
