.loader {
  border: 4px solid rgba($light-gray, 0.8);
  border-top: 4px solid $primary-color;
  border-radius: 99rem;
  width: 40px;
  height: 40px;
  animation: spin 0.6s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
