.menu {
  &.align-right {
    li:last-child {
      padding-right: 0;
    }
  }

  li {
    padding: 0 rem-calc(12);
    &.featured {
      a {
        border-bottom: 2px solid $primary-color;
      }
    }
    a {
      padding: rem-calc(8) 0 rem-calc(6) 0;
      color: $black;
      transition: color 0.4s;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.mobile-menu {
  background-color: $light-gray;
  padding: 10px 0;
}
