.section-subtitle, .section-title {
  margin-bottom: rem-calc(40);
}

.section-title {
  .section-title--elm {
    font-weight: 300;
    line-height: normal;
    font-size: rem-calc(56);
  }
}

.section-subtitle {
  .section-subtitle--elm {
    font-weight: 300;
    font-size: rem-calc(24);
    line-height: normal;
  }
}
