.special-list{
  @extend .vertical;
  @extend .menu;

  li {
    padding-left: 10vw;
    position: relative;
    list-style-type: decimal-leading-zero;
    margin-left: 38px;
    font-family: 'Roboto Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    p {
      font-family: $primary-font;
      font-size: rem-calc(24);
    }

    &:before{
      content: '';
      width: 10vw;
      height: 0;
      display: inline-block;
      position: absolute;
      left: -38px;
      top: 30px;
      border-bottom: 2px solid $black;
    }
  }
}
