.square-box {
  @extend .responsive-embed;
  @extend .square;
  background-color: $white;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.gray {
    background-color: $light-gray;
  }
  &.primary {
    background-color: $primary-color;
  }
  &.dark {
    background-color: $dark-gray;
  }

  &.large {
    .square-box--content {
      margin: 34% 0;
      .data-number {
        font-size: rem-calc(56);
      }
    }
  }

  .square-box--content {
    text-align: center;
    color: $white;
    margin: 25% 0;
    .data-label,
    .data-number {
      color: $white;
      margin: 0;
    }
    .data-number {
      font-size: rem-calc(40);
      font-weight: bold;
    }
    .data-label {
      font-size: rem-calc(16);
    }
  }
}
