.footer {
  padding: rem-calc(40) 0;

  .footer--copyright {
    color: $medium-gray;
    font-size: rem-calc(14);
    line-height: rem-calc(18);
    margin-top: rem-calc(40);
    > a {
      color: inherit;
      transition: color 0.4s easy;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .menu {
    li {
      padding: 0;
      > a{
        padding: rem-calc(6) 0;
      }
    }
  }
}
