@font-face {
  font-family: "Px Grotesk";
  src: url("../fonts/PxGroteskRegular.woff2") format("woff2"),
    url("../fonts/PxGroteskRegular.woff") format("woff"),
    url("../fonts/PxGroteskRegular.ttf") format("truetype"),
    url("../fonts/PxGroteskRegular.otf") format("otf"),
    url("../fonts/PxGroteskRegular.svg#PxGroteskRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Px Grotesk";
  src: url("../fonts/PxGrotesk-Light.woff2") format("woff2"),
    url("../fonts/PxGrotesk-Light.woff") format("woff"),
    url("../fonts/PxGrotesk-Light.ttf") format("truetype"),
    url("../fonts/PxGrotesk-Light.otf") format("otf"),
    url("../fonts/PxGrotesk-Light.svg#PxGrotesk-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Px Grotesk";
  src: url("../fonts/PxGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/PxGrotesk-Bold.woff") format("woff"),
    url("../fonts/PxGrotesk-Bold.ttf") format("truetype"),
    url("../fonts/PxGrotesk-Bold.otf") format("otf"),
    url("../fonts/PxGrotesk-Bold.svg#PxGrotesk-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

$primary-font: "Px Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  @include breakpoint(medium up) {
    background: url(../images/bg-line.png) 12.5% repeat-y,
      url(../images/bg-line.png) 25% repeat-y,
      url(../images/bg-line.png) 37.5% repeat-y,
      url(../images/bg-line.png) 50% repeat-y,
      url(../images/bg-line.png) 62.5% repeat-y,
      url(../images/bg-line.png) 75% repeat-y,
      url(../images/bg-line.png) 87.5% repeat-y;
  }
}

.section-padding {
  padding: rem-calc(60) 0;
}

.privatemarket-icon {
  &:hover {
    .privatemarket-icon--item {
      fill: $dark-gray;
      transition: fill 0.4s ease;
    }
  }
  .privatemarket-icon--item {
    fill: $primary-color;
  }
}

.privatemarket {
  &:hover {
    .privatemarket--icon,
    .privatemarket--icon-bg {
      fill: $primary-color;
      transition: fill 0.4s ease;
    }
  }
  .privatemarket--icon {
    fill: $black;
  }
  .privatemarket--icon-bg {
    fill: transparent;
  }
  .privatemarket--text {
    fill: $black;
  }
}
