/* stylelint-disable */

//  Foundation for Sites Settings
//  -----------------------------

// 1. Global
// ---------

$global-width: 75%;
$foundation-palette: (
  primary: #00d7c7,
  secondary: #20212b,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$light-gray: #f7f6f5;
$medium-gray: #cacaca;
$dark-gray: #20212B;
$black: #0a0a0a;
$white: #fefefe;
$body-background: $white;
$body-font-color: $black;
$body-font-family: 'Px Grotesk','Helvetica Neue', Helvetica, Arial, sans-serif;

@include add-foundation-colors;

// 3. The Grid
// -----------

$grid-column-count: 8;

// 11. Button
// ----------
$button-font-family: inherit;
$button-padding: rem-calc(14) 0;
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background: transparent;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-color: $black;
$button-color-alt: $black;
$button-radius: $global-radius;
$button-hollow-border-width: 1px;
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: rem-calc(24),
  large: 1.25rem,
);
$button-palette: $foundation-palette;
$button-opacity-disabled: 0.25;
$button-background-hover-lightness: -20%;
$button-hollow-hover-lightness: -50%;
$button-transition: border-color 0.25s ease-out, color 0.25s ease-out;

// 23. Menu
// --------

$menu-margin: 0;
$menu-nested-margin: $global-menu-nested-margin;
$menu-items-padding: $global-menu-padding;
$menu-simple-margin: 1rem 0;
$menu-item-color-active: $black;
$menu-item-background-active: none;
$menu-icon-spacing: 0.25rem;
$menu-item-background-hover: $black;
$menu-state-back-compat: true;
$menu-centered-back-compat: true;
$menu-icons-back-compat: true;

// 53. Title Bar
// -------------

$titlebar-background: $black;
$titlebar-color: $white;
$titlebar-padding: 0.5rem;
$titlebar-text-font-weight: bold;
$titlebar-icon-color: $white;
$titlebar-icon-color-hover: $medium-gray;
$titlebar-icon-spacing: 0.25rem;

// 55. Top Bar
// -----------

$topbar-padding: 0.5rem;
$topbar-background: $light-gray;
$topbar-submenu-background: $topbar-background;
$topbar-title-spacing: 0.5rem 1rem 0.5rem 0;
$topbar-input-width: 200px;
$topbar-unstack-breakpoint: medium;

// 46. Responsive Embed
// --------------------

$responsive-embed-margin-bottom: rem-calc(16);
$responsive-embed-ratios: (
  default: 4 by 3,
  widescreen: 16 by 9,
  square: 1 by 1,
);

// 56. Xy Grid
// -----------

$xy-grid: true;
$grid-container: $global-width;
$grid-columns: 8;
$grid-margin-gutters: (
  small: 20px,
  medium: 30px
);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: $global-width;
$xy-block-grid-max: 8;

/* stylelint-enable */
